.buttonup button{
		margin-top: 5px;
		border-radius: 6px;
		background-color: #05CB29;

	}

	.frmbody{
		color: #283332;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.1em;
        border:5px solid #5BBBB3;
        width: 1080px;

        
        margin-top: 80px;
margin-left: -170px;
padding-top: 50px;
padding-bottom: 50px;
padding-right: 50px;
padding-left: 50px;
	    background-color: #A0DAC0;
	}
	*{
padding: 0px;
margin: 0px;
}
body {
background-color: #edf0f5;

}
header {
	background: #b1e3fa;
	height: 82px;
	border-bottom: 1px solid #133783;
}
.headerblock{
	width: 800px;
	height: 400px;
	margin: 0 auto;
	padding-top: 20px;
}
.logo{
	width: 60%;
	margin-top: -75px;
}

.logo p{width: 900px; height: 50px;text-align: center;font-style: italic; font-family: Arial Black;
		 font-size: 70px; font-weight: bold; float: center; padding-top: 40px; color: #007cc6;}
		 .logo a{text-decoration-line: none;color:#007cc6; }
		 .btnBack a{text-decoration-line: none;color: white;}
		 .btnBack {width: 60px;height: 30px;background-color: #007cc6;border: 3px solid #5BBBB3;}
		 table{
		 	width: 500px; height: 500px;
		 	float: center;
		 }
		 tbody{
		 	margin-right: 100px;
		 }

		 
		 